py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.p-05 {
  padding: 0.125rem; /* 2px */
}
.px-05{
  padding-left: 0.125rem; /* 2px */
  padding-right: 0.125rem; /* 2px */
}
.p-1 {
  padding: 0.25rem; /* 4px */
}
.px-2 {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
}
.p-2 {
  padding: 0.5rem; /* 8px */
}
.p-3 {
  padding: 0.75rem; /* 12px */
}
.py-3 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}
.p-4 {
  padding: 1rem; /* 16px */
}
.px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}
.p-5{
  padding: 1.25rem; /* 20px */
}
.p-6{
  padding: 1.5rem; /* 24px */
}
.py-6{
  padding-top: 1.5rem; /* 24px */
  padding-bottom: 1.5rem; /* 24px */
}
.p-7{
  padding: 1.75rem; /* 28px */
}
.py-7{
  padding-top: 1.75rem; /* 28px */
  padding-bottom: 1.75rem; /* 28px */
}
.p-8{
  padding: 2rem; /* 32px */
}
.py-8{
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
}